.header {
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;
    position: sticky;
    top: 0;
	z-index: 999;
}

.header img {
    width: 160px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login a {
    color: rgb(134, 134, 134);
    text-decoration: none;
}

.login a:hover {
    color: #3161EA;
}