.userImages {
    width: 100%;
	position: relative;
}

.userImages-coverSection {
	position: relative;
	height: 200px;
	width: 100%;
}

.userImages-cover {
	position: absolute;
	height: 100%;
	object-fit: cover;
	z-index: 2;
	top: 0;
	left: 0;
}

.userImages-overlay {
	background: linear-gradient(356.59deg, #0D0D0D 2.43%, rgba(67, 67, 67, 0) 96.82%);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.user-name {
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 5;
	color: #fff;
	font-size: 28px;
	margin-left: 32%;
	margin-bottom: 15px;
	bottom: 0;
}

.user-status {
	position: absolute;
	bottom: -50px;
	z-index: 5;
	color: #000;
	font-size: 18px;
	margin-left: 32%;
	margin-bottom: 15px;
	font-weight: 600;
}

.userImages-main {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	border: 8px solid #fff;
	position: absolute;
	bottom: -50%;
	z-index: 8;
	left: 10%;
}
