* {
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 14px;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.wrapper {
    display: grid;

    grid-template-areas:
        "header"
        "wrp-cont";
    grid-template-rows: auto 1fr;
    grid-template-columns: 100% 1fr;
    grid-gap: 15px;
    background-color: #e9ebed;
}

.wrapper-container {
    grid-area: wrp-cont;

    display: grid;

    grid-template-areas:
        "sidebar cont"
        "sidebar cont";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 11fr;
    grid-gap: 15px;
}

.header {
    grid-area: header;
}


img {
    width: 100%;
}


.cont {
    grid-area: cont;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}



/* Global CSS */

.sectionTitle {
    font-weight: 700;
    font-size: 28px;
    color: #4D4D4D;
}